@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
.singleGrid {
  display: grid;
  grid-template: 1fr/1fr;
  place-items: center;
}

.scoreboard {
  background-color: #f0f0f0;
  color: #000;
  min-width: 500px;
  padding: 7px;
  border-radius: 7px;
  border: 1px solid #000;
  margin-top: 7px;
}
