<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>NiftyBarz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/nBarz.css" />
  </head>
  <body>
    <button id="trigger" class="trigger-button" type="button">
      Launch Modal
    </button>

    <div id="content">
      <h1>Look at me!</h1>
      <p>I'm a modal window.</p>
      <p>Ok Bitch</p>
    </div>
    <script src="../js/nbarz.js"></script>
  </body>
</html>
